.App {
  text-align: center;
  padding: 0 0;
  display: inline-block;
}

.square {
  padding: 0 0;
  margin: 0 0;
  width: 200px;
  height: 200px;
}

button.emptySquare {
  background-image: url("img/square_empty.jpg");
}

button {
  width: 100%;
  height: 100%;
}

button.x {
  background-image: url("img/square_x.jpg");
  border: 0;
  margin: 0;
  padding: 0;
}

button.o {
  background-image: url("img/square_o.jpg");
  border: 0;
  margin: 0;
  padding: 0;
}

.board {
  width: auto;
  height: auto;
  padding: 0 0;
  margin: 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.status {
  resize: none;
  width: 100%;
  height: 50px;
}